body {
    font-family: -apple-system, BlinkMacSystemFont,
        "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

/* Styles para el navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    font-family: 'Paytone One', sans-serif;
    font-weight: 100;
}

.logo {
    display: flex;
    align-items: center;
    text-align: start;

}

.logo span {
    font-size: 30px;
    font-weight: bold;
    color: #062D3E;
}

.logo .highlight {
    color: #FFC107;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    flex-grow: 1;
    font-size: 20px;

}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #062D3E;
}

.nav-links li a:hover {
    color: #FFC107;
}

.login-button {
    background-color: #FFC107;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    position: relative;
}

.login-button:hover {
    background-color: #e0a800;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        color: #062D3E;
        top: 60px;
        right: 20px;
        background-color: #fff;
        width: 200px;
        font-size: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .nav-links li {
        text-align: center;
        margin: 0px 0;
        color: #062D3E;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle.active+.nav-links {
        display: flex;
    }
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    position: relative;
    font-size: 15px;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: #fff;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
    border-radius: 2px;
}

.submenu a {
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.submenu a:hover {
    color: #e0a800;
}

.nav-links li:hover .submenu {
    display: block;
}

.submenu-login {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
    color: #062D3E;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: auto;
    padding: 0;
}

.menu-container:hover .submenu-login {
    display: block;
}

.menu-container{
    position: relative;
}


.submenu-login a {
    color: #062D3E;
    padding: 10px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.submenu-login a:hover {
   color: #e0a800;
}

.submenu-login hr {
    margin: 5px 0;
    border: 0;
    border-top: 2px solid #062D3E;
}

/* --------------------------------------------------------------------------------- */


/* Style para el footer */
.footer {
    background-color: #062D3E;
    color: white;
    padding: 40px 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Paytone One', sans-serif;
    font-weight: 100;
}

.footer-links {
    display: flex;
    margin-bottom: 15px;
    gap: 25px;
}

.footer-title {
    font-size: 24px;
    color: white;
    display: inline-block;
    text-align: center;
}

.footer-title a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-title .patrocinio {
    color: white;
}

.footer-title .animal {
    color: yellow;
    display: block;
}


.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #FFC107;
}

.footer-animal {
    color: #FFC107;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.social-media {
    text-align: start;

}

.social-icons {
    display: flex;
    justify-content: start;
    gap: 15px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: filter 0.3s;
}

.social-icons img:hover {
    filter: brightness(1.5) saturate(1.5) hue-rotate(20deg) drop-shadow(0px 0px 5px yellow);
}

.img {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: baseline;
}

/* Estilos para el menú vertical con fondo gris claro */
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #f0f0f0;
    padding-top: 20px;
    position: fixed;
}

/* Estilo para el logo */
.navbar-brand {
    display: flex;
    align-items: center;
    padding: 20px;
}

.navbar-brand img {
    margin-right: 10px;
}

.logo-text {
    font-family: 'Paytone One', sans-serif;
    font-size: 1.6rem;
    margin-right: 10px;
}

.logo-text .casa {
    color: #062D3E;
}

.logo-text .natura {
    color: #FBBC05;
}

/* Estilo del título principal Dashboard */
.main-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #062D3E;
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: left;
}

.sidebar .title {
    font-size: 1.2rem;
    padding: 20px 20px;
    color: #062D3E;
}

.sidebar .submenu a {
    font-weight: normal;
    /* Sin negrita por defecto */
    color: black;
    /* Color normal del texto */
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    /* Bordes redondeados */
    transition: all 0.3s ease;
    /* Transición suave */
}

/* Estilos al pasar el cursor (hover) sobre el enlace */
.sidebar .submenu a:hover {
    font-weight: bold;
    /* Negrita en hover */
    background-color: #062D3E;
    /* Fondo del recuadro azul oscuro */
    color: white;
    /* Texto blanco en hover */
    border: 2px solid #062D3E;
    /* Borde del recuadro */
    border-radius: 8px;
    /* Bordes redondeados */
}

/* Estilo para el icono dentro del enlace en hover */
.sidebar .submenu a:hover i {
    color: white;
    /* Cambia el color del icono a blanco */
}

.content {
    margin-left: 270px;
    padding: 20px;
}

.menu-link {
    color: #062D3E;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: color 0.3s ease;
}

.menu-link i {
    margin-right: 8px;
    color: #062D3E;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.menu-link:hover,
.menu-link:hover i {
    color: #FFFFFF;
}

/* Alineación horizontal de los cuadros */
.counter-box-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 80px;
}

.counter-box,
.counter-box-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 180px;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
}

.counter-box {
    background-color: #FFF3EB;
}

.counter-box-second {
    background-color: #EAF7E9;
}

.counter-box p,
.counter-box-second p {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
}

.counter-box small,
.counter-box-second small {
    font-size: 1.4rem;
    color: #666;
    margin-top: 10px;
    white-space: nowrap;
}

/* Estilo para la tabla de donaciones */
.donation-table-container {
    margin-top: 20px;
}

.donation-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Public Sans', sans-serif;
}

.donation-table th,
.donation-table td {
    padding: 15px;
    text-align: center;
}

.donation-table th {
    background-color: #062D3E;
    color: #fff;
}

.donation-table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

.donation-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.total-donations-box {
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -40px;
    font-family: 'Public Sans', sans-serif;
}

.total-donations-box .total-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.total-donations-box .total-amount {
    font-size: 2.5rem;
    margin-top: 10px;
}

/* ESTILOS PARA PAGINA DE FORMULARIO DONACIONES */
.title-formulario{
    text-align: center;
    color: #e0a800;
    margin-top: 5px;
    font-weight: 700;
}

/* ESTILOS PARA PAGINA DE INFORMACION DONACIONES */

.container-donacion {
    display: grid;
    max-width: 100vw; 
    overflow: hidden;
    padding: 0;
    margin: 0;
    gap: 0;
}

.texto-section {
    background-color: #062D3E;
    padding: 40px; 
    color: #f0f0f0;
    margin: 0;
    height: 100%; 
    align-content: center;

}

.texto-section h1 {
    font-size: 50px;

    font-weight: bold;
    color: #ffffff;
}

.texto-section p {
    margin-top: 10px;
    font-size: 18px;
    color: #f8f9fa;
}

.texto-section span {
    color: #e0a800;
    font-size: 20px;
}

.imagen-section {
    padding: 0;
    margin: 0;
    height: 100%; 
}

.imagen-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    padding: 0;
    margin: 0;
}

.container-comoFunciona {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.container-comoFunciona header {
    text-align: center;
    margin-bottom: 30px;
}
.container-comoFunciona header h1 {
    font-size: 30px;
    color: #062D3E;
    font-weight: bold;
}
.container-comoFunciona header p {
    font-size: 18px;
    color: #062D3E;
}
.pasos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
}
.paso {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 220px;
    text-align: center;
}

.paso:hover {
    box-shadow: 0 4px 15px rgba(47, 109, 121, 0.5), 0 0 10px rgba(47, 109, 121, 0.4);
}
.paso i {
    font-size: 40px;
    color: #FBBC05;
    margin-bottom: 15px;
}
.paso h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}
.paso p {
    font-size: 16px;
    color: #555;
}

.text-container {
    text-align: left;
    width: 50%;
    margin-left: 40px;
}

.title {
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    color: #062D3E;
}

.welcome-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 10px;
}

.about-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    background-color: #FBBC05;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.about-btn a {
    color: #062D3E;
    font-weight: bold;
}
.about-btn:hover {
    background-color: white;
    color: #FBBC05;
}

.image-container {
    float: left;
    width: 40%;
}

/*LISTADO DE ANIMALES STYLE*/
 /* Estilos personalizados */
 .animales-apadrinar-title {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: #e0a800;
}
.animales-apadrinar-subtitle {
    margin-bottom: 50px; /* Mayor espacio debajo del subtítulo */
    text-align: center;
    color: #555;
}
.animales-apadrinar-list-title {
    text-align: center;
    color: #062D3E; /* Azul específico */
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}
.animal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.animal-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}
.animal-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
.animal-card a {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #062D3E;
    text-decoration: none;
}
.animal-card a:hover {
    text-decoration: underline;
}

/*ESTILOS DETALLE ANIMALES*/

.detalleAnimal-title{
    color:#062D3E;
    margin-top: 10px;
}